// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$skills--dark-green: #388087;
$skills--light-green: #6fb3b8;
$skills--lighter-green: rgba(56, 128, 135, 0.17);
$skills--lighter-lemon: #c2edce;
$skills--grey: #f6f6f2;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "dark-green": $skills--dark-green,
    "light-green": $skills--light-green,
    "lighter-green": $skills--lighter-green,
    "lemon": $skills--lighter-lemon,
    "skills-grey": $skills--grey,
  ),
  $theme-colors
);

//change bootstrap defaults here first

$btn-font-weight: 500;
$btn-font-size-lg: 15px;
$btn-font-size: 15px;
// $btn-font-size-sm: 15px;

//defaults should come before this
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
