@import "./custom.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}
body {
}
p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
  word-wrap: break-word;
}

p {
  color: rgba($color: #000000, $alpha: 0.64);
  line-height: 1.5;
}
span.highlight {
  color: #007bff;
}
span.highlight:hover {
  text-decoration: underline;
}
::placeholder {
  font-size: 0.75rem;
}
.connect_tab div ul li a {
  font-size: 14px;
  color: rgba($color: #000000, $alpha: 0.44);
}
.explore_banner {
  position: relative;
  height: 500px;
  background-image: url("/img/optimized-hero-img-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.06em;
    word-wrap: break-word;
    color: white;
  }
}
.connect_tab div ul li.active {
}
.tribedisimg {
  width: 100%;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}
.nav-left {
  position: absolute;
  left: -28px;
  top: 50%;
  margin-top: -28px;
  border-radius: 50%;
  z-index: 3;
}
.nav-right {
  position: absolute;
  right: -28px;
  top: 50%;
  margin-top: -28px;
  border-radius: 50%;
  z-index: 3;
}
.liked_by {
  font-size: 0.75rem;
  color: rgba($color: #000000, $alpha: 0.4);
  text-align: left;
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 0;
}
.v--vtt-fade {
  will-change: transform, opacity;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.v--vtt-fade_visible {
  opacity: 1;
  transform: translateY(0);
}

.v--vtt-fade_hidden {
  opacity: 0;
  transform: translateY(20px);
}
.col-form-label,
label {
  font-size: 0.9rem;
}
.d-grid {
  display: grid;
}
.tribe_name {
  font-weight: 500;
}
@media (min-width: 1300px) {
  // .container,
  // .container-sm,
  // .container-md,
  // .container-lg,
  // .container-xl {
  //   max-width: 1200px;
  // }
}
.line-height-1_2 {
  line-height: 1.2;
}
.text-blue {
  color: #054a90;
}
.hover_green:hover {
  color: rgba($color: #000000, $alpha: 0.4);
  cursor: pointer;
}
.grab {
  cursor: grab;
}
.no-focus {
  outline: none !important;
  box-shadow: unset !important;
}
.heart {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smiley_feed {
  font-size: 1.3rem;
}
.navbar-toggler {
  padding: 0.2rem 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.media img,
.media video,
.media audio {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}
.img-s {
  width: 80px;
  margin: 0 auto;
  height: auto;
}
.img_feed {
  object-fit: contain;
  width: 100%;
}
// .VueCarousel-navigation-next {
//   right: 24px !important;
//   transform: translateY(-50%) translateX(100%);
//   font-family: "system";
//   padding: 24px !important;
// }
// .VueCarousel-navigation-prev {
//   left: 22px !important;
//   transform: translateY(-50%) translateX(-100%);
//   font-family: "system";
//   padding: 24px !important;
// }
.tribe_box {
  height: 200px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(189, 231, 201, 0.35%) !important;
  cursor: pointer;
}
.tribe_box:hover {
  box-shadow: 5px 10px 20px rgba(189, 231, 201, 0.35%) !important;
}
.tribe_box div:nth-child(1) {
  height: 70%;
  background: var(--dark-green);
  width: 100%;
}
.tribe_member_container {
  height: 30%;
  background: white;
  width: 100%;
  padding: 20px 14px;
}
@media (max-width: 768px) {
  .explore_banner {
    height: 250px;

    h1 {
      font-size: 18px;
    }
  }
  .tribe_box {
    height: 160px;
  }
  .tribe_name {
    font-size: 0.74rem;
  }
  .tribe_member_container {
    font-size: 0.7rem;
  }
  .tribe_circle {
    width: 45px !important;
    height: 45px !important;
  }
}
.tribe_circle {
  position: absolute;
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  background: white;
  bottom: 23%;
}
.tribe_members span {
  font-size: 0.8em;
}
.input-group-text {
  height: 100%;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-disabled {
  cursor: not-allowed;
}
.cursor-copy {
  cursor: copy;
}
.brad {
  border-radius: 0 3rem 0 6rem;
  overflow: hidden;
}
.feed_text {
  font-size: 0.91rem;
  color: rgba($color: #000000, $alpha: 0.64);
}
.text-truncate.text-truncate--2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.text-truncate.text-truncate--1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.schedule_type {
  font-size: 0.8rem;
}
.schedule_dates {
  font-size: 0.6rem;
}
.schedule_date {
  font-size: 0.8rem;
}
.schedule_time {
  font-size: 0.8rem;
}
.schedule_title {
  font-size: 0.85rem;
  font-weight: 700;
}
.border {
  border: 1px solid rgba($color: #000000, $alpha: 0.04) !important;
}
.border-bottom {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.04) !important;
}
.topbar_search .input-group-text {
  border: none;
  background: transparent;
  cursor: pointer;
}
.org_home_table {
  font-size: 13.5px;
}
.top_h {
  max-height: 200px;
}
// .top_h .prof_img {
//   height: 100%;
// }
.course_badge {
  font-size: 0.7rem !important;
}
.text-muted {
  color: rgba($color: #000000, $alpha: 0.44) !important;
}
.text2speech {
  position: absolute;
  top: 5px;
  right: 5px;
}
.edit_button {
  bottom: 10px;
  right: 0;
}
.password {
  width: 60%;
  margin: 0 auto;
}
.event_video {
  font-size: 0.8rem;
}
.notif {
  width: 80%;
  margin: 0 auto;
}
.preference {
  max-height: 80vh;
  overflow: scroll;
}
a,
a:hover {
  text-decoration: none;
}
.page-item.active .page-link {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
.page-link {
  color: var(--dark-green);
}
#prof .arrow {
  display: none !important;
}
::placeholder {
  font-size: 0.9rem;
}
.form-control {
  font-size: 15px;
}
.flex-1 {
  flex: 1;
}
.strike {
  text-decoration: line-through;
}
.fs16 {
  font-size: 16px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs9 {
  font-size: 9px !important;
}
.vc-title {
  font-size: 14px !important;
}
.tags-input span {
  margin-right: 0.3em;
  text-transform: capitalize;
}
#addcourse___BV_modal_header_ {
  border-bottom: none;
}
#addcourse___BV_modal_header_ h5 {
  font-size: 1.1rem;
}

.border-left-green {
  border-left: 4px solid var(--dark-green);
}
// .vc-highlight {
//   border-radius: unset !important;
// }
.vc-container.vc-is-expanded {
  border: 1px solid rgba(0, 0, 0, 0.04) !important ;
}
.inbox {
  min-width: 300px;
}
.notify {
  padding: 0.4rem 0.45rem;
  font-size: 12.5px;
  cursor: pointer;
  color: rgba($color: #000000, $alpha: 0.54);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.notify:hover {
  background-color: #f7f8fa;
  border-color: var(--dark-green);
}
.notifications.inbox,
.notification_container {
  max-height: 400px;
  overflow: auto;
}
.notification_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.notification_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.btn-lighter-green {
  color: #333;
}
.btn-lighter-green:hover {
  color: #333;
}
.dots {
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#57c6d1 0%, #388087 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #388087;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #388087;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #388087;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #388087;
}
.main_content {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}
.main_content::-webkit-scrollbar {
  display: none;
}
.main_content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alert {
  padding: 0.22rem 1rem;
}
.mytext {
  position: absolute;
  right: 3px;
  top: 3px;
}
.message_comment {
}
.message_comment_avatar {
  width: 16px;
  height: 16px;
}
.message_comment_name {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba($color: #000000, $alpha: 0.74);
}
.message_comment_text {
  font-size: 0.75rem;
  color: rgba($color: #000000, $alpha: 0.54);
}
.message_comment_date {
  font-size: 0.65rem;
  color: rgba($color: #000000, $alpha: 0.54);
}

.dropdown-menu {
  box-shadow: 5px 10px 20px rgba(189, 231, 201, 0.35) !important;
  border: none;
  min-width: 7rem;
}
.popover {
  box-shadow: 5px 10px 20px rgba(189, 231, 201, 0.35) !important;
}
#inbox1 {
  box-shadow: 5px 10px 20px rgba(189, 231, 201, 0.35) !important;
  border: 1px solid rgba($color: #000000, $alpha: 0.07) !important;
  background-color: white;
  width: 300px;
}
#inbox1 .popover-header {
  width: 300px;
}
#inbox1 .popover-body {
  padding: 0.5rem 0 0;
  width: 300px;
  background-color: white;
}
.inbox_message:hover {
  background-color: #f7f8fa;
  color: var(--dark-green);
  cursor: pointer;
}
#notification2 .popover-body {
  padding: 0.5rem 0 0;
}
.notify_badge {
  position: absolute;
  top: -8px;
  right: -1px;
}
.unread {
  position: absolute;
  top: 1px;
  right: 1px;
}
ol.subquest {
  list-style: lower-alpha;
}
.igm {
  width: 30px !important;
  height: auto;
  object-fit: contain;
}
.search {
  background: #fbfbfb;
  border-radius: 8px;
}
.search-bg {
  background: #fbfbfb;
}
.shadow {
  box-shadow: 5px 10px 20px rgba(189, 231, 201, 0.35) !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(189, 231, 201, 0.35) !important;
}
.library .card-header {
  // background-color: rgba(56, 128, 135, 0.03);
}
.library .card-header ul li a {
  color: #18696d;
  font-size: 14px;
  font-weight: bold;
}
.library .card-header ul li:nth-child(2).nav-item {
  display: none;
}
.overflow-y-auto {
  overflow-y: auto;
}
.cours_tit {
  font-size: 13px;
  height: 35px;
  color: rgba($color: #000000, $alpha: 0.74);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}
.overview-ass {
  color: rgba($color: #000000, $alpha: 0.54);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}
.overview {
  font-size: 13px;
  height: 35px;
  color: rgba($color: #000000, $alpha: 0.54);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}
.sideB {
  max-height: 90vh;
  overflow-y: scroll;
}
.overview-title {
  font-size: 0.85rem;
  height: 33px;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.42;
  margin-bottom: 1px ​ !important;
}
.course_description {
  font-size: 0.85rem;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 0.5rem;
}
.course_type {
  font-size: 0.85rem;
}
.sugpop {
  background: none;
}
.one-title {
  font-size: 13px;
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}
.rounded {
  border-radius: 0.4rem !important;
}
.event_image {
  height: 350px;
  object-fit: cover;
}
.card-img,
.card-img-top,
.course_img {
  background: #f7f8fa;
}
.course_img {
  height: 150px;
  width: 100%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
}
.related_count {
  width: 50px;
  padding: 2px 3.5px;
  background: var(--lighter-green);
  font-size: 10px;
  border-radius: 4px;
  text-align: center;
}
.flip-list-move {
  transition: transform 0.4s;
}
.no-move {
  transition: transform 0s;
}
.module_border {
  border: 1px solid #388087 !important;
}
.module_border_left {
  border-left: 1px solid #388087 !important;
}
.discusion_text {
  font-size: 0.9rem;
}
.main_text {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.6;
  color: rgba($color: #000000, $alpha: 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-right: 15px;
}
.main_desc_text {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.6;
  color: rgba($color: #000000, $alpha: 0.5);

  padding-right: 15px;
}
.feedname,
.name {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1;
}
.feed_name {
  cursor: pointer;
}
.comment_name {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.comment_text {
  font-size: 0.7rem;
}
.comment_mins {
  font-size: 0.65rem;
}
.comment_post {
  font-size: 0.9rem;
  font-weight: 500;
}
.comment_post:hover,
.comment_name:hover,
.feed_name:hover {
  opacity: 0.7;
}
.my_courses {
  height: 85vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.my_courses::-webkit-scrollbar {
  display: none;
}
.wrapper {
  position: relative;
  width: 95%;
}

.interactions {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

.prof_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending_name {
  font-size: 0.9em;
  cursor: pointer;
}
.trending_count {
  font-size: 0.8em;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}
.line-1 {
  line-height: 1;
}
.comment_header {
  font-size: 0.75rem;
}
.mobile-add {
  display: none !important;
  opacity: 0.8;
}
.mobile-add:hover {
  opacity: 1;
}
.btn-circle {
  border-radius: 50rem !important;
  padding: 0.25rem 0.25rem !important;
}
.btn-raised {
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transform: translate3d(0, -1px, 0);
}

.btn-shadow {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.btn-shadow:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1.5s;
}

.btn-shadow:active:before {
  transform: scale(0, 0);
  opacity: 0.1;
  transition: 0s;
}
.hover_box {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  position: absolute;
  right: 0px;
  top: 0;
  border-radius: 10px;
  z-index: 0;
  transition: 0.25s;
  opacity: 0;
}
.wrapper {
  position: relative;
  width: 100%;
}
.text-post {
  width: 85%;
  margin-left: auto;
}
.regular-input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 7rem;
  outline: none;
}

.regular-input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.emoji-invoker {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.emoji-invoker:hover {
  transform: scale(1.1);
}
.emoji-invoker > svg {
  fill: #b1c6d0;
}
.emoji-invoker2 {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.emoji-invoker2:hover {
  transform: scale(1.1);
}
.emoji-invoker2 > svg {
  fill: #b1c6d0;
}

.emoji-picker {
  position: absolute;
  z-index: 1;
  font-family: Montserrat;
  border: 1px solid #ccc;
  width: 15rem;
  height: 20rem;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 1px 1px 8px #c7dbe6;
  top: 40px;
  right: -150px;
}
.emoji-picker.picker {
  position: absolute;
  z-index: 1;
  font-family: Montserrat;
  border: 1px solid #ccc;
  width: 15rem;
  height: 20rem;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 1px 1px 8px #c7dbe6;
  top: unset;
  bottom: 60px;
  right: -150px;
}
.emoji-picker__search {
  display: flex;
}
.emoji-picker__search > input {
  flex: 1;
  border-radius: 10rem;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  outline: none;
}
.emoji-picker h5 {
  margin-bottom: 0;
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: default;
}
.emoji-picker .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.emoji-picker .emojis:after {
  content: "";
  flex: auto;
}
.emoji-picker .emojis span {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.emoji-picker .emojis span:hover {
  background: #ececec;
  cursor: pointer;
}
.feed_time {
  font-size: 0.65rem;
}
.role {
  color: var(--secondary);
  font-weight: 500;
}
@media (max-width: 600px) {
  .mob-carousel .VueCarousel-wrapper {
    padding-bottom: 15px;
  }
  p {
    font-size: 0.85rem;
  }
  .media img,
  .media video,
  .media audio {
    height: auto;
  }
  .side_dis {
    font-size: 0.7rem;
  }
  .mobile-add {
    display: block;
    position: fixed;
    right: 34px;
    bottom: 100px;
  }
  .p-0-rem {
    padding: 0.1rem !important;
  }
  .trending_name {
    font-size: 0.7em;
  }
  .trending_count {
    font-size: 0.62em;
  }

  .prof_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .my_courses {
    height: 100%;
    overflow: auto;
  }
  .comment_name {
    font-size: 0.7rem;
  }
  .comment_header {
    font-size: 0.6rem;
  }
  .comment_text {
    font-size: 0.6rem;
  }
  .comment_mins {
    font-size: 0.55rem;
  }
  .comment_post {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .discusion_text {
    font-size: 12px;
  }

  .reg .custom-control-label {
    font-size: 0.7rem;
    margin-top: 3px;
  }
  .bm-burger-button {
    position: relative !important;
    width: 18px !important;
    height: 17px !important;
    left: unset !important;
    top: unset !important;
    cursor: pointer;
  }
  .bm-burger-bars {
    background-color: var(--dark-green) !important;
  }
  .line-style {
    position: absolute;
    height: 12% !important;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white !important;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px !important; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }
  .bm-item-list > * {
    display: flex;
    padding: 0.5em !important;
    text-decoration: none;
  }
  img {
    width: 100%;
  }

  .event {
    width: 100% !important;
    & div {
      & img {
        width: 1rem;
      }
    }
  }
  .events {
    & div {
      & div {
        & h4 {
          font-size: 15px;
        }
      }
    }
  }
  .event-container {
    width: 100% !important;
    & div {
      & div {
        & span {
          font-size: 14px;
        }
      }
    }
  }

  .bottom_bar {
    width: 100% !important;
  }

  p,
  .main_text,
  .main_desc_text {
    font-size: 0.75rem;
  }

  .fs14,
  .col-form-label,
  .custom-select {
    font-size: 14px !important;
  }
  .info {
    font-size: 0.6rem !important;
  }
  .event_image {
    height: 200px;
  }
  .btn-sm {
    // font-size: 0.75rem;
  }
  .b-avatar-badge .badge-dark-green {
    font-size: 1rem !important;
  }
  .feed_text {
    font-size: 0.8rem;
    color: rgba($color: #000000, $alpha: 0.54);
  }
  small,
  .small {
    font-size: 80%;
    font-weight: 400;
  }

  .main_box {
    padding: 15px 0 !important;
  }
  .title {
    font-size: 0.75rem !important;
  }
  .asked {
    font-size: x-small !important;
  }
  .top_header div {
    font-size: 14px !important;
  }
  .brad {
    border-radius: 0;
    overflow: hidden;
    height: 300px;
  }
  .stat {
    height: 44px !important;
  }
  .bottom_bar {
    width: 95%;
    font-size: 10px !important;
  }
  .description {
    font-size: 14px !important;
    line-height: 1.4;
  }
  .event_box {
    width: 100% !important;
    top: unset !important;
    right: unset !important;
    position: relative !important;
    transform: unset !important;
    box-shadow: unset !important;
  }
  .display-4 {
    font-size: 18px !important;
    font-weight: 500;
  }
  .main {
    height: auto !important;
  }

  .main-bg {
    height: 30vh !important;
  }
  span.viewevent,
  span.viewevent span {
    font-size: 0.65rem !important;
  }

  .feedname,
  .name {
    font-size: 0.85rem;
  }
  td {
    min-width: 160px;
  }
  .password {
    width: 100% !important;
  }

  .notif {
    width: 100% !important;
  }
  .preference {
    max-height: 100% !important;
  }
  .container-fluid {
    height: 100% !important;
    overflow: auto;
  }
  .card-header,
  .card-header ul li {
    font-size: 14px;
  }
  .card-body {
    font-size: 14px;
  }
  .library .card-header ul li a {
    color: #18696d;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem 0.7rem;
  }
  .library .card-header ul li:nth-child(2).nav-item {
    display: block;
  }
  .course {
    height: auto;
  }
  .course_img {
    height: 100px;
  }
  .course_badge {
    font-size: 0.5rem !important;
  }
  .course_text {
    height: 58% !important;
  }
  .cours_tit {
    font-size: 14px;
    height: 36px;
    color: rgba($color: #000000, $alpha: 0.74);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
  }
  .overview,
  .overview p {
    font-size: 0.9rem;
    height: 36px;
  }
  .overview-title {
    font-size: 0.7rem !important;
    height: 28px;
    // line-height: 1.2;
  }
  .course_desc {
    font-size: 0.6rem !important;
  }
  .course_avatar {
    width: 15px;
    height: 15px;
  }
  .one-title {
    font-size: 14px;
  }
  td,
  th {
    font-size: 14px !important;
  }
  .text-post,
  .next_dis,
  .bottom_bar {
    width: 100% !important;
  }
  .next_dis {
    line-height: 1.4;
  }
  .toggleSide {
    display: none !important;
  }
  .card-body {
    padding: 1rem 0.8rem;
  }
  img.cursor-pointer {
    width: 18px;
  }

  .interactions {
    font-size: 12px;
  }
  .event_title {
    font-size: 13px !important;
  }
  .discussion_title div {
    font-size: 11px !important;
  }
  .sideB {
    overflow: unset;
    max-height: 100%;
  }
  .dis_set,
  .dis_set span {
    font-size: 9px;
  }
  .dis_ses,
  .dis_ses span {
    font-size: 10px;
  }
  .library .card-header ul li a {
    font-size: 11px;
  }
  .edit_button {
    bottom: 10px;
    right: 0;
  }
  .password {
    width: 90%;
    margin: 0 auto;
  }

  .notif {
    width: 90%;
    margin: 0 auto;
  }
  .notif div span {
    font-size: 0.7rem;
  }
  .notif div div p,
  .notif div div div {
    font-size: 0.7rem;
  }
  .preference {
    max-height: auto;
    overflow: scroll;
  }
  .b-avatar.starter {
    width: 1.9rem;
    height: 1.9rem;
  }
  .b-avatar.member {
    width: 1.5rem;
    height: 1.5rem;
  }
  .back {
    font-size: 0.8rem;
  }
  h4.event_title {
    font-size: 0.85rem;
  }

  .connection_name {
    font-size: 0.8rem;
  }
  .connection_email {
    font-size: 0.7rem;
  }
  .connection_button {
    font-size: 0.6rem;
  }
  img.banner_image {
    width: 100%;
  }
  .message_comment_avatar {
    width: 16px;
    height: 16px;
  }
  .message_comment_name {
    font-size: 0.65rem;
    font-weight: 500;
    color: rgba($color: #000000, $alpha: 0.74);
  }
  .message_comment_text {
    font-size: 0.65rem;
    color: rgba($color: #000000, $alpha: 0.54);
  }
  .message_comment_date {
    font-size: 0.6rem;
    color: rgba($color: #000000, $alpha: 0.54);
  }
  .search {
    width: 100%;
  }
  .ev {
    cursor: pointer;
  }
  .event_video,
  .event_video div img,
  .ev {
    font-size: 0.7rem;
  }
  .event_video div img {
    width: 14px;
  }
  .img-s {
    width: 80px;
    margin: 0 auto;
    height: auto;
  }
  .course_description {
    font-size: 0.7rem;
  }
  .course_type {
    font-size: 0.5rem;
  }
  .bm-item-list > * {
    display: flex;
    padding: 0.5em !important;
    text-decoration: none;
    flex-direction: column;
  }
}
