<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Discover people, knowledge and opportunities for growth.Become your most authentic self."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="<%= BASE_URL %>img/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="<%= BASE_URL %>img/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="<%= BASE_URL %>img/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="<%= BASE_URL %>img/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="<%= BASE_URL %>img/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="<%= BASE_URL %>img/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="<%= BASE_URL %>img/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="<%= BASE_URL %>img/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= BASE_URL %>img/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="<%= BASE_URL %>img/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= BASE_URL %>img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="<%= BASE_URL %>img/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= BASE_URL %>img/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.7.0/dist/style.css"
    />

    <link
      href="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.css"
      rel="stylesheet"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="<%= BASE_URL %>img/icons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
         <style>
.btn-primary {
  background-color: #03498f;
  color: #fff;
  border-color: #03498f;
  font-family: "Poppins";
  box-shadow: 0px 8px 24px rgba(29, 53, 73, 0.159137);
  border: 1px solid rgba(29, 53, 73, 0.01);
  box-sizing: border-box;
  padding:20px 40px;
}
       </style>


    </head>
<body>
  <div  class=" container p-5">
    <div class="row" >
        <div  class="text-center col-12">
            <img src="/images/offline.png"></img>
        </div>
        <div class="text-center col-12">
            <h1 class="mb-4">CONNECTION ERROR !!</h1>
            <h4 class="mb-7"><span style="color: #333;"> <img src="/img/logo.png" alt=""> </span> can see that you are offline, this may be due to your internet settings<br> <br> try to reconnect your internet and try again</h4>
             <a href="/">  <b-button variant="primary">Reload</b-button></a>

        </div>
    </div>
</div>
</body>
</html>
